$red:#db2b2b;
$blue:#2000af;
$white:#ffffff;
$darkblue: $blue - 50;
$margin:5%;

@mixin commonTraits {
  border-radius: 10%;
  border: 5px solid $red;
  padding: 10%;
}
h1, p {color:$white; margin:$margin + 5%;}

body {
  background:$darkblue;
  @include commonTraits;
}

.grad {
  padding: 1%;
  background-color: $blue;
  background-image: -webkit-gradient(linear, left top,  left bottom,
  from($blue), to($darkblue));

  .p2 {
    a {color:$red; font-size:20px;}
  }
}
